<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=202.120.84.252;Initial Catalog=students;User ID=stu;Password=123456;"/>
    <add name="ApplicationServicesbak" connectionString="Data Source=222.204.251.67;Initial Catalog=20170829CBDBavBase;User ID=stu;Password=123456;"/>
  </connectionStrings>
</configuration>

